{% extends 'AppBundle:AdminLTE:base.html.twig' %}

{# override default form_row() with custom class #}
{% form_theme form _self %}
{% block form_row -%}
    <div class="form-group row-condense{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock form_row %}

{% block body %}
    {% embed 'AppBundle:AdminLTE:_content.html.twig' %}
        {% block content %}
            <div class="row">

                <div class="col-md-6">

                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Editting "{{company.companyName}}"</h3>
                        </div>
                        {{form_start(form)}}
                        <div class="box-body">
                            <div class="form-group row row-condense">
                                <div class="col-md-6">
                                    {{ form_label(form.contactFirstname) }}
                                    {{ form_errors(form.contactFirstname) }}
                                    {{ form_widget(form.contactFirstname) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_label(form.contactLastname) }}
                                    {{ form_errors(form.contactLastname) }}
                                    {{ form_widget(form.contactLastname) }}
                                </div>
                            </div>
                            {{form_row(form.companyName)}}
                            {{form_row(form.sector)}}
                            <div class="form-group row row-condense">
                                <div class="col-md-6">
                                    {{ form_label(form.numberOfEmployees) }}
                                    {{ form_errors(form.numberOfEmployees) }}
                                    {{ form_widget(form.numberOfEmployees) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_label(form.squareMetersWanted) }}
                                    {{ form_errors(form.squareMetersWanted) }}
                                    {{ form_widget(form.squareMetersWanted) }}
                                </div>
                            </div>
                            <div class="form-group row row-condense">
                                <div class="col-md-6">
                                    {{ form_label(form.email) }}
                                    {{ form_errors(form.email) }}
                                    {{ form_widget(form.email) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_label(form.phone) }}
                                    {{ form_errors(form.phone) }}
                                    {{ form_widget(form.phone) }}
                                </div>
                            </div>
                            {{form_row(form.address)}}
                            <div class="form-group row row-condense">
                                <div class="col-md-6">
                                    {{ form_label(form.zipcode) }}
                                    {{ form_errors(form.zipcode) }}
                                    {{ form_widget(form.zipcode) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_label(form.city) }}
                                    {{ form_errors(form.city) }}
                                    {{ form_widget(form.city) }}
                                </div>
                            </div>
                            {{form_row(form.websiteUrl)}}
                            {{form_row(form.reference)}}
                            {{form_row(form.offer)}}
                            {{form_row(form.demand)}}
                            {{form_row(form.status)}}
                            <div class="form-group pull-right">
                                {{form_widget(form.save)}}
                                {{form_widget(form.saveAndQuit, {'attr': {'class': 'btn-primary'}})}}
                            </div>
                        </div>
                        {{form_end(form)}}
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Notes on "{{company.companyName}}" <a onclick="confirmationDialog(event,this,ConfirmEnums.CLEAR_COMMENTS)" class="btn btn-danger btn-flat" href="{{ path('app_company_clearcomments', {'company' : company.id}) }}">
                                    Clear history
                                </a></h3>
                        </div>
                        <div class="box-body">
                            {% for comment in company.comments %}
                                <blockquote>
                                    {{comment.text|raw}}
                                    <small>
                                        {{comment.createdBy.username}} @ {{comment.createdAt|date('Y-m-d H:i')}}
                                        <a class="" href="{{ path('app_comment_delete', {'id' : comment.id}) }}">
                                            <i class="fa fa-fw fa-trash"></i>
                                        </a>
                                    </small>
                                </blockquote>
                            {% endfor %}
                        </div>
                        <div class="box-footer">
                            {{form_start(companyCommentForm)}}
                            {{form_row(companyCommentForm.text)}}

                            <div class="form-group pull-right">
                                {{form_widget(companyCommentForm.save)}}
                                {{form_widget(companyCommentForm.saveAndQuit, {'attr': {'class': 'btn-primary'}})}}
                            </div>

                            {{form_end(companyCommentForm)}}
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/js/confirmations/confirm.js"></script>

{% endblock javascripts %}
