{% extends 'AppBundle:AdminLTE:base.html.twig' %}

{% block body %}
    {% embed 'AppBundle:AdminLTE:_content.html.twig' %}
        {% block content %}
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">List of Companies</h3>
                </div>
                <div class="box-body">
                    <table id="companies" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Company</th>
                                <th>Status</th>
                                <th>Last Modified</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for company in companies %}
                                <tr>
                                    <td>{{company.name}}</td>
                                    <td>{{company.status.label}}</td>
                                    <td>{{company.modifiedAt|date('Y-m-d H:i')}}</td>
                                    <td>
                                        <a class="btn btn-default btn-flat" href="{{ path('app_company_edit', {'company' : company.id}) }}">
                                            <i class="fa fa-fw fa-pencil"></i>
                                        </a>
                                        <a class="btn btn-danger btn-flat" href="{{ path('app_company_delete', {'company' : company.id}) }}">
                                            <i class="fa fa-fw fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Company</th>
                                <th>Status</th>
                                <th>Last Modified</th>
                                <th>Options</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/js/datatables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/js/datatables/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">
        $('#companies').DataTable({
            "paging": true,
            "pageLength" : 25,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false
        });
    </script>
{% endblock javascripts %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/datatables/dataTables.bootstrap.css">
{% endblock %}
