{% extends 'AppBundle:AdminLTE:base.html.twig' %}

{% block body %}
    {% embed 'AppBundle:AdminLTE:_content.html.twig' %}
        {% block content %}
            {# Sales Funnel block #}
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Leads</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="flex-container box-body">
                    {% for companyStatus in companyStatuses %}
                        <div class="flex-items callout status-column">
                            <div class="box box-solid bg-red">
                                <div class="box-header" style="min-height:50px">
                                    <div class="box-title" style="width:80%; font-size:0.8vw">{{companyStatus.label}}</div>
                                    <div class="box-tools label bg-navy" style="font-size:0.6vw">{{ companies[companyStatus.label]|length }}</div>
                                </div>
                            </div>
                            {% for company in companies[companyStatus.label] %}
                                <div class="box box-solid bg-orange row-condense">
                                    <div class="box-header with-border">
                                        <a href="{{ path('app_company_edit', {'company' : company.id, 'redirect' : app.request.attributes.get('_route')}) }}">
                                            {{company.companyName}}
                                        </a>
                                    </div>
                                    <div class="box-body">
                                        {% if company.diffstatuschangeindays < 7 %}
                                            {% set labelColour = 'label-success' %}
                                        {% elseif company.diffstatuschangeindays < 14 %}
                                            {% set labelColour = 'label-info' %}
                                        {% elseif company.diffstatuschangeindays < 21 %}
                                            {% set labelColour = 'label-warning' %}
                                        {% else %}
                                            {% set labelColour = 'label-danger' %}
                                        {% endif %}
                                        <span class="label {{labelColour}} pull-right">
                                            {{company.statuschangedate|time_diff}}
                                        </span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            {# Memberships block #}
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Members</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>

                <div class="flex-container box-body">
                    {% for membershipStatus in membershipStatuses %}
                        <div class="flex-items callout  status-column">
                            <div class="box box-solid bg-navy-active">
                                <div class="box-header" style="min-height:50px">
                                    <div class="box-title" style="width:80%; font-size:0.8vw">{{membershipStatus.label}}</div>
                                    <div class="box-tools label bg-navy" style="font-size:0.6vw">{{ memberships[membershipStatus.label]|length }}</div>
                                </div>
                            </div>
                            {% for membership in memberships[membershipStatus.label] %}
                                <div class="box box-solid bg-gray row-condense">
                                    <div class="box-header with-border">
                                        <a href="{{ path('app_membership_edit', {'membership' : membership.id, 'redirect' : app.request.attributes.get('_route')}) }}">
                                            {{membership.company.companyName}}
                                        </a>
                                    </div>
                                    <div class="box-body">
                                        {% if membership.diffstatuschangeindays < 7 %}
                                            {% set labelColour = 'label-success' %}
                                        {% elseif membership.diffstatuschangeindays < 14 %}
                                            {% set labelColour = 'label-info' %}
                                        {% elseif membership.diffstatuschangeindays < 21 %}
                                            {% set labelColour = 'label-warning' %}
                                        {% else %}
                                            {% set labelColour = 'label-danger' %}
                                        {% endif %}
                                        <span class="label {{labelColour}} pull-right">
                                            {{membership.statuschangedate|time_diff}}
                                        </span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>


        {% endblock %}
    {% endembed %}
{% endblock %}
