{% extends 'AppBundle:AdminLTE:base.html.twig' %}

{% block body %}
    {% embed 'AppBundle:AdminLTE:_content.html.twig' %}
        {% block content %}
            {# Sales Funnel block #}
            <div class="box box-warning">
                <div class="box-header with-border box-header-leads">
                    <h3 class="box-title">Leads</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="flex-container box-body">
                    {% for companyStatus in companyStatuses %}
                        {#Status columns#}
                        <div class="flex-items callout status-column leads-status" id="company-status-{{ companyStatus.id }}" ondragover="allowDrop(event)" ondrop="updateCompanyStatus(event)" ondragleave="preventDrop(event)">
                            <div class="box box-solid bg-red status-label">
                                <div class="box-header" style="min-height:50px">
                                    <div class="box-title" style="width:80%; font-size:0.8vw">{{companyStatus.label}}</div>
                                    <div class="box-tools label bg-navy" style="font-size:0.6vw">{{ companies[companyStatus.label]|length }}</div>
                                </div>
                            </div>

                            {% for company in companies[companyStatus.label] %}
                                {# Company box #}
                                <div class="box box-solid bg-orange row-condense draggable company-box" id="company-{{ company.id }}" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">
                                    <div class="box-header with-border">
                                        <a href="{{ path('app_company_edit', {'company' : company.id, 'redirect' : app.request.attributes.get('_route')}) }}">
                                            {{company.companyName}}
                                        </a>
                                    </div>
                                    <div class="box-body">
                                        {# Email icon #}
                                        <a href="#" class="email-icon" data-toggle="modal" data-target="#emailModal" data-companyid="{{ company.id }}" data-companyname="{{ company.companyName }}" data-email="{{ company.email }}">
                                            <i class="fa fa-envelope"></i>
                                        </a>

                                        {% if company.diffstatuschangeindays < 7 %}
                                            {% set labelColour = 'label-success' %}
                                        {% elseif company.diffstatuschangeindays < 14 %}
                                            {% set labelColour = 'label-info' %}
                                        {% elseif company.diffstatuschangeindays < 21 %}
                                            {% set labelColour = 'label-warning' %}
                                        {% else %}
                                            {% set labelColour = 'label-danger' %}
                                        {% endif %}
                                        <span class="label {{labelColour}} pull-right">
                                            {{company.statuschangedate|time_diff}}
                                        </span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>

            {# Memberships block #}
            <div class="box box-primary">
                <div class="box-header with-border box-header-memberships">
                    <h3 class="box-title">Members</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>

                <div class="flex-container box-body">
                    {% for membershipStatus in membershipStatuses %}
                        <div class="flex-items callout status-column memberships-status" id="membership-status-{{ membershipStatus.id }}" ondragover="allowDrop(event)" ondrop="updateMembershipStatus(event)" ondragleave="preventDrop(event)">
                            <div class="box box-solid bg-navy-active status-label">
                                <div class="box-header" style="min-height:50px">
                                    <div class="box-title" style="width:80%; font-size:0.8vw">{{membershipStatus.label}}</div>
                                    <div class="box-tools label bg-red" style="font-size:0.6vw">{{ memberships[membershipStatus.label]|length }}</div>
                                </div>
                            </div>
                            {% for membership in memberships[membershipStatus.label] %}
                                {#membership box#}
                                <div class="box box-solid bg-aqua row-condense draggable membership-box" id="membership-{{ membership.id }}" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">
                                    <div class="box-header with-border">
                                        <a href="{{ path('app_membership_edit', {'membership' : membership.id, 'redirect' : app.request.attributes.get('_route')}) }}">
                                            {{membership.company.companyName}}
                                        </a>
                                    </div>
                                    <div class="box-body">
                                        {% if membership.diffstatuschangeindays < 7 %}
                                            {% set labelColour = 'label-success' %}
                                        {% elseif membership.diffstatuschangeindays < 14 %}
                                            {% set labelColour = 'label-info' %}
                                        {% elseif membership.diffstatuschangeindays < 21 %}
                                            {% set labelColour = 'label-warning' %}
                                        {% else %}
                                            {% set labelColour = 'label-danger' %}
                                        {% endif %}
                                        <span class="label {{labelColour}} pull-right">
                                            {{membership.statuschangedate|time_diff}}
                                        </span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>

            {# Hidden Email modal #}
            <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="emailModalLabel">New Message</h4>
                        </div>
                        <div class="modal-body">
                            {{form_start(emailForm, {'action': path('app_email_sendtocompanywithtemplate')})}}
                            {{form_row(emailForm.to)}}
                            {{form_row(emailForm.subject)}}
                            {{form_row(emailForm.body)}}
                            <div class="modal-footer">
                                {{form_widget(emailForm.close)}}
                                {{form_widget(emailForm.sendMessage)}}
                            </div>
                            {{form_end(emailForm)}}
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/js/Dashboard/funnel.js"></script>
{% endblock javascripts %}
