<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>

            {# Dashboard #}
            <li class="{% if app.request.attributes.get('_route') starts with 'app_dashboard_index' %} active{% endif %}">
                <a href="{{path('app_dashboard_index')}}">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <li class="{% if app.request.attributes.get('_route') starts with 'app_dashboard_funnel' %} active{% endif %}">
                <a href="{{path('app_dashboard_funnel')}}">
                    <i class="fa fa-tasks"></i>
                    <span>Sales Funnel</span>
                </a>
            </li>
            {% endif %}

            {# Companies #}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li class="treeview{% if app.request.attributes.get('_route') starts with 'app_company_' %} active{% endif %}">
                    <a href="#">
                        <i class="fa fa-building-o"></i>
                        <span>Companies</span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="{% if app.request.attributes.get('_route') == 'app_company_index' %}active{% endif %}">
                            <a href="{{ path('app_company_index') }}">
                                <i class="fa fa-list"></i>
                                List companies</a>
                        </li>
                        <li class="{% if app.request.attributes.get('_route') == 'app_company_create' %}active{% endif %}">
                            <a href="{{ path('app_company_create') }}">
                                <i class="fa fa-plus"></i>
                                Add company</a>
                        </li>
                    </ul>
                </li>
            {% endif %}

            {# Memberships #}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li class="treeview{% if app.request.attributes.get('_route') starts with 'app_membership_' or
                app.request.attributes.get('_route') starts with 'app_card' or
                app.request.attributes.get('_route') starts with 'app_role'
                %} active{% endif %}">
                    <a href="#">
                        <i class="fa fa-user-circle-o"></i>
                        <span>Memberships</span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="{% if app.request.attributes.get('_route') == 'app_membership_index' %}active{% endif %}">
                            <a href="{{ path('app_membership_index') }}">
                                <i class="fa fa-list"></i>
                                List memberships</a>
                        </li>
                        <li class="{% if app.request.attributes.get('_route') == 'app_membership_create' %}active{% endif %}">
                            <a href="{{ path('app_membership_create') }}">
                                <i class="fa fa-plus"></i>
                                Add membership</a>
                        </li>
                        {# Cards #}
                        <li class="treeview{% if app.request.attributes.get('_route') starts with 'app_card' or app.request.attributes.get('_route') starts with 'app_role'%} active{% endif %}">
                            <a href="#">
                                <i class="fa fa-address-card-o"></i>
                                <span>Cards</span>
                            </a>
                            <ul class="treeview-menu">
                                <li class="{% if app.request.attributes.get('_route') == 'app_card_index' %}active{% endif %}">
                                    <a href="{{ path('app_card_index') }}">
                                        <i class="fa fa-list"></i>
                                        List cards</a>
                                </li>
                                <li class="{% if app.request.attributes.get('_route') == 'app_card_create' %}active{% endif %}">
                                    <a href="{{ path('app_card_create') }}">
                                        <i class="fa fa-plus"></i>
                                        Add card</a>
                                </li>
                                <li class="treeview{% if app.request.attributes.get('_route') starts with 'app_role' %} active{% endif %}">
                                    <a href="#">
                                        <i class="fa fa-address-card-o"></i>
                                        <span>Roles</span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li class="{% if app.request.attributes.get('_route') == 'app_role_index' %}active{% endif %}">
                                            <a href="{{ path('app_role_index') }}">
                                                <i class="fa fa-list"></i>
                                                List roles</a>
                                        </li>
                                        <li class="{% if app.request.attributes.get('_route') == 'app_role_create' %}active{% endif %}">
                                            <a href="{{ path('app_role_create') }}">
                                                <i class="fa fa-plus"></i>
                                                Add role</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            {% endif %}

            {# Profiles #}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li class="treeview{% if app.request.attributes.get('_route') starts with 'app_profile' %} active{% endif %}">
                    <a href="#">
                        <i class="fa fa-users"></i>
                        <span>Profiles</span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="{% if app.request.attributes.get('_route') == 'app_profile_index' %}active{% endif %}">
                            <a href="{{ path('app_profile_index') }}">
                                <i class="fa fa-list"></i>
                                List profiles</a>
                        </li>
                        <li class="{% if app.request.attributes.get('_route') == 'app_profile_create' %}active{% endif %}">
                            <a href="{{ path('app_profile_create') }}">
                                <i class="fa fa-plus"></i>
                                Add profile</a>
                        </li>
                    </ul>
                </li>
            {% endif %}

            {# Contracts #}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li class="treeview{% if app.request.attributes.get('_route') starts with 'app_contract' %} active{% endif %}">
                    <a href="#">
                        <i class="fa fa-file-text-o"></i>
                        <span>Contracts</span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="{% if app.request.attributes.get('_route') == 'app_contract_index' %}active{% endif %}">
                            <a href="{{ path('app_contract_index') }}">
                                <i class="fa fa-list"></i>
                                List contracts</a>
                        </li>
                        <li class="{% if app.request.attributes.get('_route') == 'app_contract_create' %}active{% endif %}">
                            <a href="{{ path('app_contract_create') }}">
                                <i class="fa fa-plus"></i>
                                Add contract</a>
                        </li>
                    </ul>
                </li>
            {% endif %}

            {# EmailTemplate #}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li class="treeview{% if app.request.attributes.get('_route') starts with 'app_emailtemplate_index' %} active{% endif %}">
                    <a href="#">
                        <i class="fa fa-user-circle-o"></i>
                        <span>Email Templates</span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="{% if app.request.attributes.get('_route') == 'app_emailtemplate_index' %}active{% endif %}">
                            <a href="{{ path('app_emailtemplate_index') }}">
                                <i class="fa fa-list"></i>
                                List email templates</a>
                        </li>
                        <li class="{% if app.request.attributes.get('_route') == 'app_emailtemplate_create' %}active{% endif %}">
                            <a href="{{ path('app_emailtemplate_create') }}">
                                <i class="fa fa-plus"></i>
                                Add email template</a>
                        </li>
                    </ul>
                </li>
            {% endif %}

            {# Configuration Settings #}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li class="treeview{% if app.request.attributes.get('_route') starts with 'app_companystatus' or
                    app.request.attributes.get('_route') starts with 'app_membershipstatus' or
                    app.request.attributes.get('_route') starts with 'app_companysector'

                %} active{% endif %}">
                    <a href="#">
                        <i class="fa fa-wrench"></i>
                        <span>Configuration Settings</span>
                    </a>
                    <ul class="treeview-menu">
                    {# CompanyStatus #}
                        <li class="treeview{% if app.request.attributes.get('_route') starts with 'app_companystatus' %} active{% endif %}">
                            <a href="#">
                                <i class="fa fa-user-circle-o"></i>
                                <span>Company Status</span>
                            </a>
                            <ul class="treeview-menu">
                                <li class="{% if app.request.attributes.get('_route') == 'app_companystatus_index' %}active{% endif %}">
                                    <a href="{{ path('app_companystatus_index') }}">
                                        <i class="fa fa-list"></i>
                                        List company statuses</a>
                                </li>
                                <li class="{% if app.request.attributes.get('_route') == 'app_companystatus_create' %}active{% endif %}">
                                    <a href="{{ path('app_companystatus_create') }}">
                                        <i class="fa fa-plus"></i>
                                        Add company status</a>
                                </li>
                            </ul>
                        </li>
                    {# MembershipStatus #}
                        <li class="treeview{% if app.request.attributes.get('_route') starts with 'app_membershipstatus' %} active{% endif %}">
                            <a href="#">
                                <i class="fa fa-user-circle-o"></i>
                                <span>Membership Status</span>
                            </a>
                            <ul class="treeview-menu">
                                <li class="{% if app.request.attributes.get('_route') == 'app_membershipstatus_index' %}active{% endif %}">
                                    <a href="{{ path('app_membershipstatus_index') }}">
                                        <i class="fa fa-list"></i>
                                        List membership statuses</a>
                                </li>
                                <li class="{% if app.request.attributes.get('_route') == 'app_membershipstatus_create' %}active{% endif %}">
                                    <a href="{{ path('app_membershipstatus_create') }}">
                                        <i class="fa fa-plus"></i>
                                        Add membership status</a>
                                </li>
                            </ul>
                        </li>
                        {# CompanySector #}
                        <li class="treeview{% if app.request.attributes.get('_route') starts with 'app_companysector' %} active{% endif %}">
                            <a href="#">
                                <i class="fa fa-user-circle-o"></i>
                                <span>Company Sector</span>
                            </a>
                            <ul class="treeview-menu">
                                <li class="{% if app.request.attributes.get('_route') == 'app_companysector_index' %}active{% endif %}">
                                    <a href="{{ path('app_companysector_index') }}">
                                        <i class="fa fa-list"></i>
                                        List company sectors</a>
                                </li>
                                <li class="{% if app.request.attributes.get('_route') == 'app_companysectors_create' %}active{% endif %}">
                                    <a href="{{ path('app_companysector_create') }}">
                                        <i class="fa fa-plus"></i>
                                        Add company sector</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            {% endif %}

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
