{% extends 'AppBundle:AdminLTE:base.html.twig' %}

{% block body %}
    {% embed 'AppBundle:AdminLTE:_content.html.twig' %}
        {% block content %}
            <h1>Membershipstatus</h1>

            <table>
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ membershipStatus.id }}</td>
                    </tr>
                    <tr>
                        <th>Label</th>
                        <td>{{ membershipStatus.label }}</td>
                    </tr>
                </tbody>
            </table>

            <ul>
                <li>
                    <a href="{{ path('membershipstatus_index') }}">Back to the list</a>
                </li>
                <li>
                    <a href="{{ path('membershipstatus_edit', { 'id': membershipStatus.id }) }}">Edit</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                        <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        {% endblock %}
    {% endembed %}
{% endblock %}
