{% extends 'AppBundle:AdminLTE:base.html.twig' %}

{% block body %}
    {% embed 'AppBundle:AdminLTE:_content.html.twig' %}
        {% block content %}
            <h1>Companystatuses list</h1>

            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Label</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for companyStatus in companyStatuses %}
                    <tr>
                        <td><a href="{{ path('companystatus_show', { 'id': companyStatus.id }) }}">{{ companyStatus.id }}</a></td>
                        <td>{{ companyStatus.label }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('companystatus_show', { 'id': companyStatus.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('companystatus_edit', { 'id': companyStatus.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <ul>
                <li>
                    <a href="{{ path('companystatus_new') }}">Create a new companyStatus</a>
                </li>
            </ul>
        {% endblock %}
    {% endembed %}
{% endblock %}
